@charset "utf-8";

/*-------------------------| Common |-------------------------*/

body {
    font-family:'微軟正黑體';
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

.content {
    width: 960px;
    margin: 0px auto;
    margin-top: 50px;
}

.editContent {
    float: left;
    height: 600px;
    width: 525px;
    overflow-y: auto;
    padding: 10px;
}

.text {
    margin-top: 20px;
    margin-bottom: 20px;
}

.youtubeContent {
    width: 400px;
    float: right;
    padding-top: 10px;
}

.hidden {
    height: 0px;
    width: 0px;
}

.unhidden {
    height: 250px;
    width: 370px;
}

.ui.checkbox {
    float: right;
    margin-top: 10px;
}

.editContent .label.name {
    margin-top: 3px;
}

.editContent .edit.field {
    -webkit-animation: editFeld 2s;
    animation: editFeld 2s;
}

@-webkit-keyframes editFeld {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes editFeld {
    from { opacity: 0; }
    to { opacity: 1; }
}

/*-------------------------| Top |-------------------------*/

/*-------------------------| Footer |-------------------------*/

