div.ui.top.sidebar
  div.ui.inverted.menu
    a.header.item(href="http://coverbatim.com/") coVerbatim
    a.right.item(href="https://github.com/jessy1092/coVerbatim" target="_blank")
      i.github.icon
