.youtubeContent
  .ui.form.segment
    .field
      iframe.youtubeFrame.hidden(frameborder="0" src="" allowfullscreen)
    .field
      label URL
      .ui.left.labeled.icon.input
        input.youtubeUrl(placeholder="Youtube URL" type="text")
        i.youtube.icon
    .field
      label NAME
      .ui.left.labeled.icon.input
        input.userName(placeholder="Youtube URL" type="text")
        i.user.icon
    .ui.blue.submit.button Enter
  iframe.ethercalcFrame.hidden(frameborder="0" src="" allowfullscreen)
  .ui.raised.segment
    .ui.list
      .item
        i.edit.icon
        .content
          .header CC-BY
          .description NOBODY
